/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background: #f5f5f5;
}
body {
  background-image: url("https://cdn.pixabay.com/photo/2017/02/04/15/25/desk-2037545_960_720.png");
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-center {
  text-align: center;
}

.ml20 {
  margin-left: 20px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
